/*fonts*/
@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"),
    url("../fonts/fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../fonts/fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*fonts*/

/*basic-reset*/
html {
	box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
  font-family: "Muller", Verdana;
  font-weight: 400;
  font-size: 16px;
  background-color: #F1F1F1;
}

ul,p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-weight: normal;
}

li::marker {
  content: none;
}
/*basic-reset*/

/*glob*/
:root{
  --btn-static-inner-color:#C93;

  --btn-focus-bgcolor:#C93;
  --btn-hover-bgcolor:#C93;
  --btn-active-bgcolor:#A47312;

  --link-static-color:#C93;

  --link-hover-color-dark:#C93;
  --link-hover-color-bright:#F0BF5F;
  --link-focus-color:#C93;
  --link-active-color:#A47312;

}

.flex{
  display:flex;
}

.container{
  width:1170px;
  max-width: 100%;
  margin: 0 auto;
}

.btn{
  display: inline-block;
  padding: 11px 20px;
  border: 1px solid #C93;
  border-radius: 10px;

  color: var(--btn-static-inner-color);


  background-color: transparent;

  cursor: pointer;

  transition: background 0.3s ease, color 0.2s linear;
}

.btn--wide{
  padding: 11px 30px;
}

.btn--large{
  padding:28px 30px;
}

.btn:focus-visible{
  outline:none;
  background-color: var(--btn-focus-bgcolor);
  color: #fff;
}

.btn:hover{
  background-color: var(--btn-hover-bgcolor);
  color: #fff;
}

.btn:active{
  background-color: var(--btn-active-bgcolor);
  color: #fff;
}

.title{
  color: #333333;
  font-size: 40px;
  text-indent: 40px;
}

.about-link{
  background-repeat:no-repeat ;
  background-position: right center;
  padding-right: 13px;
}

.about-link{
  transition: padding 0.3s ease, color 0.2s linear;
  outline: none;
}

.about-link:hover{
  padding-right: 22px;
}

.about-link:active{
  padding-right: 13px;
  color:#fff
}

.descr{
  color: #000;
  line-height: 200%;
}
/*для задания отступов между секциями*/
.section-offset{
  padding:30px 0 40px;
}

.footer-offset{
  padding-bottom: 30px;
}

.contact-link{
  display: block;
  width: max-content;
  position: relative;

  color: var(--link-static-color);
  outline: none;

  transition: color 0.2s linear;
}

.contact-link::after{
  content: "";
  position: absolute;
  top:0;
  bottom:0;
  left: -5px;
  right: -5px;
  border: 1px solid var(--link-focus-color);
  border-radius: inherit;
  opacity: 0;

  transition: opacity 0.3s ease;
}

.contact-link:focus-visible::after{
  opacity: 1;
}

.contact-link:hover::after{
  opacity: 0;
}

.contact-link:hover{
  color: var(--link-hover-color-bright);
}

.contact-link:active::after{
  opacity: 0;
}

.contact-link:active{
  color: var(--link-active-color);
}
/*для задания отступов между секциями*/
/*glob*/

/*header*/
/*top*/
.header__top{
  flex-wrap: wrap;
  align-items: center;
  gap:15px 40px;
}

.top__company-logo{
  width: 260px;/*можно ли здесь использовать фиксированные размеры?*/
  height: 55px;
  max-width: 100%;
}

.top__tel-link{
  position:relative;

  outline: 1px solid transparent;
  outline-offset: 5px;

  color:#666666;
  font-size: 20px;
  font-weight: 500;

  transition: color 0.2s linear, outline-color 0.3s ease;
}

.top__tel-link:not(:last-child){
  margin-right: auto;
}

.top__tel-link:focus-visible{
  color: var(--link-focus-color);
  outline-color: #C93;
}

.top__tel-link:hover{
  color: var(--link-hover-color-dark);
  outline-color: transparent;
}

.top__tel-link:active{
  color: var(--link-active-color);
  outline-color: transparent;
}

.top__profile-link{
  color: var(--link-static-color);
  display: flex;
  align-items: flex-end;
  gap: 5px;
  outline: 1px solid transparent;
  outline-offset: 5px;

  transition: outline 0.3s ease, color 0.2s linear;
}

.top__profile-link path{
  fill: #C93;
}

.top__profile-link:focus-visible{
  outline: 1px solid var(--link-focus-color);
  outline-offset: 5px;
}

.top__profile-link:hover{
  outline: 1px solid transparent;

  color: var(--link-hover-color-bright);
}

.top__profile-link:hover path{
  fill: var(--link-hover-color-bright);
}

.top__profile-link:active{
  color: var(--link-active-color);
}

.top__profile-link:active path{
  fill: var(--link-active-color);
}

.header__top:not(:last-child){
  margin-bottom: 30px;
}
/*top*/
/*bottom*/
.bottom{
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  padding:14px 45px;
}

.nav{
  align-self: stretch;
  max-width: 690px;
}

.btns{
  display: flex;
  gap: 8px 40px;
  align-content: space-around;
  flex-wrap: wrap;
  max-width: 390px;
}

.nav__list{
  height: 100%;
  display:flex;
  column-gap: 45px;
  row-gap:8px;
  align-content: space-around;
  flex-wrap: wrap;
}

.nav__link{
  color:#666666;
  white-space: nowrap;
  outline: 1px solid transparent;
  outline-offset: 5px;

  transition: outline 0.3s ease, color 0.2s linear;
}

.nav__link:focus-visible{
  color: var(--link-focus-color);
  outline: 1px solid var(--link-focus-color);
}

.nav__link:hover{
  color: var(--link-hover-color-dark);
  outline: 1px solid transparent;
}

.nav__link:active{
  outline: 1px solid transparent;
  color:var(--link-active-color);
}
/*bottom*/
/*header*/

/*special-offers*/
.special-offers__title:not(:last-child){
  margin-bottom: 20px;
}

.special-offers__list{
  gap:24px;
}

.left-wrapper{
  flex-direction: column;
  row-gap:24px;
}

.special-offers__item{
  position: relative;
  width: 573px;
  border-radius: 15px;
  padding: 40px 45px;

  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 1;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: #ffffff;
}

/* закомментировать, если использовать растягивание ссылки  */
.special-offers__item::before{
  content:"";
  position:absolute;
  z-index:-1;
  top:-8px;
  bottom:-8px;
  left:-8px;
  right: -8px;
  outline:1px solid transparent;

  transition:outline-color ease .3s;
}

.special-offers__item:focus-within::before{
  outline-color:var(--link-focus-color);
}

.special-offers__item:hover::before{
  outline-color:transparent;
}
/* закомментировать, если использовать растягивание ссылки  */

/* .special-offers__about-link::before{
  content: "";
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

  outline: 1px solid transparent;
  outline-offset: 8px;

  transition: outline-color 0.3s ease;
}

.special-offers__about-link:focus::before{
  outline-color: #C93;
}

.special-offers__about-link:hover::before{
  outline-color: transparent;
}

.special-offers__about-link:active::before{
  outline-color: transparent;
} */

.special-offers__item--bgim-1{
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url("../img/special-offers-bgim1.jpg");
}

.special-offers__item--bgim-2{
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url("../img/special-offers-bgim2.jpg");
}

.special-offers__item--bgim-3{
  background-image: url("../img/special-offers-bgim3.jpg");
}

.special-offers__item--big{
  min-height: 540px;
}

.special-offers__item--small{
  min-height: 258px;
}

.special-offers__name{
  max-width: 420px;

  font-weight: 700;
}

.special-offers__name:not(:last-child){
  margin-bottom: 15px;
}

.special-offers__name--small{
  font-size: 40px;
}

.special-offers__name--big{
  font-size: 60px;
}

.special-offers__price{
  display: block;
}

.special-offers__price:not(:last-child){
  margin-bottom: 47px;
}

.special-offers__about-link{
  color:#F0BF5F;
  background-image: url("../img/special-offers__about-link-bgim.svg");
  outline: none;
}

/*special-offers*/

/*about-us*/
.about-us__title:not(:last-child){
  margin-bottom: 20px;
}

.about-us__descr{
  width: 888px;
  max-width: 100%;
}
/*about-us*/

/*offers*/
.offers__title:not(:last-child){
  margin-bottom: 20px;
}

.offers__list{
  flex-wrap: wrap;
  gap: 24px;
}

.offers__item{
  position: relative;
  width: calc(50% - 24px);
  min-height: 330px;
  border-radius: 15px;
  padding: 191px 45px 35px;

  background-color: #ffffff;

  background-position: top;
  background-repeat: no-repeat;
  background-size: 573px 165px;
}

/* Закомментировать, если растягивать ссылку на всю карточку */
.offers__item::before{
  content:"";
  position:absolute;
  z-index:-1;
  top:-8px;
  bottom:-8px;
  left:-8px;
  right: -8px;
  outline:1px solid transparent;

  transition:outline-color ease .3s;
}

.offers__item:focus-within::before{
  outline-color:var(--link-focus-color);
}

.offers__item:hover::before{
  outline-color:transparent;
}
/* Закомментировать, если растягивать ссылку на всю карточку */

/* .offers__about-link::before{
  content: "";
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

  outline: 1px solid transparent;
  outline-offset: 8px;

  transition: outline-color 0.3s ease;
}

.offers__about-link:focus::before{
  outline-color: #C93;
}

.offers__about-link:hover::before{
  outline-color: transparent;
}

.offers__about-link:active::before{
  outline-color: transparent;
} */

.offers__item--bgim-1{
  background-image: url("../img/champagne.jpg");
}

.offers__item--bgim-2{
  background-image: url("../img/banqueting hall.jpg");
}

.offers__item--bgim-3{
  background-image: url("../img/sauna.jpg");
}

.offers__item--bgim-4{
  background-image: url("../img/garage.jpg");
}

.offers__name{
  color: #CC9933;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%; /* 40px */
}

.offers__about-link{
  display: inline-flex;
  align-items: center;
  padding: 0;
}

.offers__about-link path{
  stroke:#CC9933;
  transition: stroke 0.2s linear;
}

.offers__about-link span:not(:last-child){
  margin-right: 13px;
  transition: margin 0.3s ease,color 0.2s linear;
}

.offers__about-link:hover span{
  color: var(--link-hover-color-bright);
  margin-right: 23px;
}

.offers__about-link:hover path{
  stroke:var(--link-hover-color-bright);
}

.offers__about-link:active span{
  color: var(--link-active-color);
  margin-right: 13px;
}

.offers__about-link:active path{
  stroke:var(--link-active-color);
}
/*offers*/

/*advantages*/
.advantages__title:not(:last-child){
  margin-bottom: 20px;
}

.advantages__list{
  flex-wrap: wrap;
  gap: 22px;
}

.advantages__item{
  width: calc((100% - 22px * 3) / 4);
  min-height: 276px;
  border-radius: 15px;
  padding:116px 42px 32px 45px;

  background-color: #ffffff;

  background-position: 40px 45px;
  background-repeat: no-repeat;
}

.advantages__item--buthtub{
  background-image: url("../img/bathtub.svg");
}

.advantages__item--hanger{
  background-image: url("../img/hanger.svg");
}

.advantages__item--heating{
  background-image: url("../img/heating.svg");
}

.advantages__item--hotel-key{
  background-image: url("../img/hotel-key.svg");
}

.advantages__item--parking{
  background-image: url("../img/parking.svg");
}

.advantages__item--reception{
  background-image: url("../img/reception.svg");
}

.advantages__item--security-box{
  background-image: url("../img/security-box.svg");
}

.advantages__item--swimming-pool{
  background-image: url("../img/swimming-pool.svg");
}
/*advantages*/

/*accomodation*/
.accomodation__title:not(:last-child){
  margin-bottom: 20px;
}

.accomodation__list{
  flex-wrap: wrap;
  gap: 22px;
}

.accomodation__item{
  position: relative;
  width: calc((100% - 22px * 2) / 3);
  min-height: 440px;
  border-radius: 15px;
  overflow: hidden;

  font-size: 0;
  background-color: #ffffff;
}

.accomodation__accomodation-photo{
  height: 217px;
}

.accomodation__accomodation-info{
  padding:32px 45px 45px;
  min-height: 223px;

  font-size: 1rem;
}

.accomodation__top{
  justify-content: space-between;
}

.accomodation__top:not(:last-child){
  margin-bottom: 16px;
}

.accomodation__pricing{
  max-width: 173px;
}

.pricing__text--grey{
  color: #999999;
}

.pricing__price{
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}

.accomodation__name:not(:last-child){
  margin-bottom: 16px;
}

.accomodation__place{
  color: #999999;
}

.accomodation__place:not(:last-child){
  margin-bottom: 20px;
}

.accomodation__btn{
  align-self: flex-start;;
}

.accomodation__item--learn-more{
  padding: 27px 54px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/accomodation__learn-more-bgim.jpg");
}

.accomodation__about-link{
  white-space: nowrap;
}

.accomodation__about-link::after{
  content:"";
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
}

.about-link--white{
  color: #ffffff;
  font-size: 20px;
  line-height: 200%;
  background-image: url("../img/learn-more--white.svg");
}
/*accomodation*/

/*booking*/
.booking__content-wrapper{
  border-radius: 15px;

  padding: 45px 0;

  background: #E9E9E9;
}

.booking__title:not(:last-child){
  margin-bottom: 20px;
}

.booking__form{
  display: flex;

  padding: 31px 28px;
  border-radius: 15px;

  background-color: white;

  font-size: 0;
}

.form-wrapper{
  padding: 0 45px;
}

.booking__fieldset{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 121px;
  margin: 0;
  padding: 0;
  border:none;

  font-size: 1rem;
}

.booking__fieldset--wide{
  width: 169px;
}

.booking__fieldset:not(:last-child){
  margin-right: 41px;
}

.booking__label{
  font-size: 12px;
}

.booking__label:not(:last-child){
  margin-bottom: 15px;
}

.booking__input{
  width: 100%;
  border:none;
}

.booking__input--underline{
  border-bottom: 1px solid #E9E9E9;
}

.booking__btn{
  align-self: center;
  font-size: 1rem;
  max-width: 140px;
}
/*booking*/

/*contacts*/
.contacts__title:not(:last-child){
  margin-bottom: 20px;
}

.contacts-wrapper{
  display: flex;
  justify-content: space-between;

  border-radius: 15px;

  padding: 45px;

  background-color: white;
}

.contacts__info{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 45px;

  width: 375px;

  font-family: "Muller";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contacts__img{
  width: 653px;
}

.contacts__item{
  display: flex;
  justify-content: space-between;

  border-bottom: 1px #E9E9E9 solid;

  padding: 25px 0 23px;
}

.contacts__item:first-child{
  padding-top: 0;
}

.contacts__name{
  font-size: 20px;
  font-weight: 700;
}

.contacts__details{
  width: 230px;
}

.contacts__link-about{
  color: #999999;
}

.contacts__gallery{
  border-radius: 10px;
  overflow: hidden;
}

.contacts__img{
  height: 100%;
  object-fit: cover;
}

.contacts__btn{
  align-self: flex-start;
}
/*contacts*/

/*footer*/
.footer{
  padding-bottom: 30px;
}

.footer__content-wrapper{
  display: flex;
  justify-content: space-between;

  padding: 45px;

  border-radius: 15px;
  background-color: #333;

  background-image: url("../img/footer-background.png");
  background-repeat:no-repeat ;
  background-position: bottom left 739px;

  line-height: 190%;
}

.footer__row-wrapper{
  display: flex;
  justify-content: space-between;
}

.footer__user-agreements{
  width: 300px;

  color:white;
}

.footer__user-agreement:not(:last-child){
  margin-bottom: 37px;
}

.footer__user-agreements:not(:last-child){
  margin-right: 125px;
}

.footer__contacts{
  width: 350px;

  color: white;
  font-style: normal;
}

.footer__contact:not(:last-child){
  margin-bottom: 15px;
}

.footer__social-link{
  display: block;
  width: 25px;
  height: 25px;
}

.footer__item{
  background-repeat: no-repeat;
}

.footer__item:not(:last-child){
  margin-bottom: 20px;
}

.footer__social-link{
  outline: none;
}

.footer__social-link path{
  fill: #999999;
  transition: fill 0.3s ease;
}

.footer__social-link:focus-visible path{
  fill:#C93;
}

.footer__social-link:hover path{
  fill:#C93;
}

.footer__social-link:active path{
  fill:#A47312;
}
/*footer*/
